<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %><dd>
  <dt>Followers</dt>
  <dd>0<dd>  
  <dt>Following</dt>
  <dd>0<dd> 
  <dt>Edit user</dt>
  <dd>
    <form action="/modify_user" method="post">
    <label for="browser_username">Username</label>
    <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..." value="<%= @user.username %>">
    <label for="browser_private">Private?</label>
    <input id="browser_private" type="checkbox" name="query_private">
    <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (0)</h2>
<table border="1">
  <tr>
    <th> Image </th>
    <th> Owner </th>
    <th> Caption </th>
    <th> Posted </th>
    <th> Likes </th>
    <th></th>
  </tr>