<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %><dd>
  <dt>Followers</dt>
  <dd><%= @count_of_followers %><dd>
  <dt>Following</dt>
  <dd><%= @count_of_following %><dd> 
</dl>

<h2>Own photos (0)</h2>
<table border="1">
  <tr>
    <th> Image </th>
    <th> Owner </th>
    <th> Caption </th>
    <th> Posted </th>
    <th> Likes </th>
    <th></th>
  </tr>